<% @title = 'Keys' %>

<p><%= link_to image_tag('add.png', :alt => 'Create a new Key Pair'), '#',:onclick => "$('#add_key').toggle()" %> Create a new SSH Key Pair</p>
<br/>
<div id="add_key">
    <form action="/<%= @project %>/key" method="POST">
        Name <input name="key_name" type="text"/>
        <input type="submit" value="create"/> <%= link_to 'Cancel', '#', :onclick => "$('#add_key').toggle()" %>
    </form>
</div>

<%= table(@keys, :aws_key_name) { |key| link_to(
    image_tag('minus.png', :alt => 'Delete Key Pair'), 
    "/key/#{key[:aws_key_name]}/delete", :onclick => "return confirm('Delete Key: Are you sure?')"
)} %>
