<div id="setup" class="lightbox" style="display:block">
    <h2>Snail Setup</h2>
    <p>Enter your amazon web service keys for this session.  Your keys will not be stored anywhere.</p>
    <form action="/setup" method="POST">
        <p>Amazon Key: <input type="text" name="key" /></p>
        <p>Secret Key: <input type="text" name="secret" /></p>
        <p><input type="submit" value="setup"/></p>
    </form>
</div>
<div id="overlay" class="lightbox_overlay" style="display:block" />